@import url("https://fonts.cdnfonts.com/css/uber-move-text");
@font-face {
  font-family: food;
  src: url(../fonts/UberMoveBold.otf);
}
@font-face {
  font-family: food;
  src: url(../fonts/UberMoveMedium.otf);
}
@font-face {
  font-family: "UberMove";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/4912f83fe2d86107.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/fcfeb81ee527ab0a.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "UberMove";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/83a314e1b88d789f.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/9173a3c32322b79f.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "UberMoveText";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/865f196494beefeb.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/0255d64e8922b147.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "UberMoveText";
  font-display: fallback;
  src: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/e245b8e03846a659.woff2") format("woff2"), url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/8012b57120639f52.woff") format("woff");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "UberMove";
}

body {
  overflow-x: hidden;
}
body svg {
  width: 24px;
}
body a {
  text-decoration: none;
}

.container {
  width: 92%;
  margin: 0 auto;
}

.searchbar {
  position: relative;
  background: white;
  display: flex;
  align-items: center;
  width: 540px;
}
.searchbar input {
  font-family: "UberMoveText";
  border: none;
  padding: 2px 60px;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  outline: none;
  color: #000;
  font-weight: 400;
  background: transparent;
  border-bottom: 2px solid rgb(255, 248, 248);
  transition: 0.3s;
}
.searchbar input:focus {
  border-bottom: 2px solid #000;
}
.searchbar input::-moz-placeholder {
  opacity: 0.4;
}
.searchbar input:-ms-input-placeholder {
  opacity: 0.4;
}
.searchbar input::placeholder {
  opacity: 0.4;
}
.searchbar svg {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

.asideNav {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100vh;
  z-index: 3;
  overflow-x: hidden;
  display: none;
}
.asideNav .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.asideNav nav {
  width: 300px;
  background: white;
  height: 100%;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.asideNav .auth a {
  display: block;
  padding: 16px 0px;
  text-align: center;
  background: #000;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1.3em;
  color: white;
  transition: all 0.2s;
}
.asideNav .auth a:hover {
  background: rgba(10, 10, 10, 0.85);
}
.asideNav .auth a:last-child {
  background: #eeeeee;
  color: #000;
}
.asideNav .auth a:last-child:hover {
  background: #e2e2e2;
}
.asideNav ul li {
  list-style: none;
}
.asideNav ul li a {
  color: #000;
  padding: 6px 0px;
  display: block;
  font-family: "UberMoveText";
  font-weight: 500;
  font-size: 0.9em;
}
.asideNav .logopart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
}
.asideNav .logopart img {
  width: 60px;
}
.asideNav .dflx {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.asideNav .dflx a {
  display: inline-flex;
  align-items: center;
  background: #eeeeee;
  padding: 8px 15px;
  border-radius: 50px;
  color: #000;
}
.asideNav .dflx a:hover {
  background: #e2e2e2;
}
.asideNav .dflx a svg {
  padding: 2px;
}

header {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  transition: all 0.3s;
  z-index: 2;
}
header .humbrgrsc {
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .searchbar {
  transition: all 0.3s;
  height: 50px;
  background: #eeeeee;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
header .lftnav {
  display: flex;
  gap: 30px;
}
header .rghtnav {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .rghtnav a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 15px;
  height: 100%;
  border-radius: 50px;
}
header .rghtnav a svg {
  width: 20px;
}

.btnWht {
  background: white;
  color: #000;
}

.btnBlck {
  background: #000;
  color: white;
}

.herosc {
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: grid;
  place-items: center;
}

.herocntnt h1 {
  font-size: 3.22em;
  padding: 30px 0px;
}
.herocntnt span {
  font-family: "UberMoveText";
  font-weight: 500;
  color: #000;
  padding: 20px 0px;
  display: block;
}
.herocntnt span a {
  font-weight: 500;
  font-family: "UberMoveText";
  color: #000;
  text-decoration: underline;
}

.srchfdsc {
  display: flex;
  gap: 10px;
  height: 55px;
}
.srchfdsc .dlvrynow {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px;
  background: white;
}
.srchfdsc button {
  padding: 0px 20px;
  border: none;
  font-size: 1.05em;
  background: #000;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.coverdetailssc {
  padding: 70px 0px;
  display: flex;
  gap: 30px;
}
.coverdetailssc .column {
  color: #000;
}
.coverdetailssc img {
  width: 100%;
}
.coverdetailssc h1 {
  font-size: 1.7em;
  padding: 5px 0px;
}
.coverdetailssc p {
  text-decoration: underline;
  font-size: 1.1em;
}

.locations {
  height: 100%;
}

.locations a {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 200ms linear;
  transition-property: transform, width;
}

.locations a span {
  display: none;
  margin-left: 15px;
  vertical-align: top;
}

.locations a:hover {
  width: auto;
  padding: 0 10px 2px 8px;
  transform: scale(1.1);
  z-index: 2;
}

.locations a:hover span {
  display: inline-block;
}

.countries {
  padding: 10px 0px;
}
.countries .column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.countries ul li {
  list-style: None;
}
.countries ul li a {
  padding: 14px 0px;
  display: block;
  font-family: "UberMoveText";
  color: #000;
  font-weight: 400;
}

.tltetxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 8px;
}
.tltetxt h1 {
  font-size: 2.3em;
}
.tltetxt a {
  color: #000;
  text-decoration: underline;
  font-size: 1.1em;
}

footer {
  border-top: 1px solid rgb(226, 226, 226);
  background-color: rgb(255, 255, 255);
  padding: 70px 0px 65px;
  margin-top: 80px;
}
footer .upftsc {
  display: grid;
  grid-template-columns: 50% auto;
}
footer .upftsc .lgflx {
  display: flex;
  gap: 15px;
}
footer .upftsc .lgsite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .upftsc .logo {
  width: 120px;
}
footer .rghtsite {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .rghtsite ul li {
  list-style: none;
}
footer .rghtsite ul li a {
  font-size: 1em;
  padding: 10px 0px;
  display: block;
  font-family: "UberMoveText";
  color: #000;
  font-weight: 400;
}
footer .lwrsc {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  margin-top: 60px;
}
footer .lwrsc svg {
  padding: 3px;
}
footer .lwrsc .dflx {
  display: flex;
  gap: 15px;
}
footer .lwrsc ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: flex-end;
}
footer .lwrsc ul a {
  font-family: "UberMoveText";
  color: #000;
  font-size: 0.9em;
}
footer .lwrsc span {
  font-family: "UberMoveText";
  color: #000;
  padding: 17px 0px;
  font-size: 0.9em;
}
footer .lwrsc span a {
  font-family: "UberMoveText";
  color: #000;
}
footer .lwrsc span a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1900px) {
  .container {
    max-width: 1920px;
  }
}/*# sourceMappingURL=style.css.map */